<main>
  <section>
    <form (ngSubmit)="procurar()" [formGroup]="formulario">
      <mat-form-field hintLabel="Max 8 caracteres" appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput #input maxlength="8" placeholder="Digite o número do CEP" formControlName="inputCep">
        <mat-hint align="end">{{input.value.length || 0}}/8</mat-hint>
      </mat-form-field>
      <button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </section>
  <section></section>
</main>