<main>
  <section>
    <form (ngSubmit)="procurar()" [formGroup]="formulario">
      <mat-form-field hintLabel="Max 8 caracteres" appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput #input maxlength="8" placeholder="Digite o número do CEP" formControlName="inputCep">
        <mat-hint align="end">{{input.value.length || 0}}/8</mat-hint>
      </mat-form-field>
      <button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </section>
  <section>
      <div *ngIf="endereco != undefined">
        <p>{{endereco.cep}}</p>
        <p>{{endereco.logradouro}}</p>
        <p>{{endereco.complemento}}</p>
        <p>{{endereco.bairro}}</p>
        <p>{{endereco.localidade}}</p>
        <p>{{endereco.uf}}</p>
        <p>{{endereco.ibge}}</p>
        <p>{{endereco.gia}}</p>
        <p>{{endereco.ddd}}</p>
        <p>{{endereco.siafi}}</p>
      </div>
  </section>
</main>