
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(152, 182, 152) ;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

img{
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 300px;
}

button{
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.close-button{
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex
}

.close-button:hover{
    background-color:rgb(208, 43, 43);
}

.search-button{
    background-color: rgb(208, 43, 43);
}
.search-button:hover{
    transform: scale(1.1); 
    background-color: green;
}

.return-itens{
    padding: 5px;
    background-color:white;
    color: #171717bb;
    font-weight: 500px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    position: relative;
}